*.bat
*.cmd
*.sh

dockerfile.test
notebooks
./notebooks/.ipynb_checkpoints
./notebooks/.local
./notebooks/.jupyter
./notebooks/.ipython
./notebooks/.config
./notebooks_backup

src/
src

./**/**/.ipynb_checkpoints