*.bat
*.cmd
*.sh

dockerfile.test
backup
notebooks_backup
notebooks
./notebooks/.ipynb_checkpoints
./notebooks/.local
./notebooks/.jupyter
./notebooks/.ipython
./notebooks/.config

src/
src

./**/**/.ipynb_checkpoints